.data-table-test {
  max-width: 350px;
  text-align: center;
  margin: auto;
  border: 1px solid;
  border-color: rgb(128, 0, 90) !important;
  background-color: rgb(240, 240, 243);
}

.div-border {
  max-width: 350px;
  height: auto;
  min-height: 500px;
  border: 5px solid;
  border-color: rgb(109, 0, 128);
  background-color: rgb(188, 176, 224);
  border-radius: 12px;
}
